@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
header {display: block; height: auto; text-align: center; border-bottom: 2px solid #f2c74e;}
header > h2 {font-size: 80px; display: inline-block; font-family: 'Bungee Shade', cursive;}
header > img {height: 140px; border: 2px solid #f2c74e; float: right; border-radius: 50%; z-index: 1; position: relative; top: 130; right: 100;}

#flecheBottom {display: flex; flex-direction: column; justify-content: center; align-items: center; height: 50%; margin-right: 14%;}
#flecheBottom > h6 {font-size: 20px;}
#flecheBottom > a > img {height: 50px;}

#container {display: flex; justify-content: space-between; height: 100%; width: 100%; align-items: center;}
#container > #menu {margin: 5%;}
#container > #menu > h3 {font-size: 30px; margin-top: 9.5%;}

#container > #informations {margin-left: 2%;} 
#container > #informations > h3 {font-size: 20px;}

#container > #fleche {position: fixed; bottom: 0; right: 0;}
#container > #fleche > a > img {height: 100px;}

footer {display: flex; justify-content: center; position: fixed; bottom: 0;}
footer > a > img {height: 100px;}